@model SoccerStats.Models.ViewModels.LeagueStanding

@{
    ViewBag.Title = "LeagueTable";
}

<h2>League Table</h2>

<br />

<table class="table" style="width:100%">
    <tr>
        <th>POS</th>
        <th></th>
        <th>Team Name</th>
        <th>PTS</th>
        <th>GP</th>
        <th>GD</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>GF</th>
        <th>GA</th>
    </tr>

    @{int position = 1;}


    @foreach (var team in Model.standing)
    {
        string imageId = "team" + position.ToString();
        <tr>
            <td>@team.position</td>
            <td><img id="@imageId" style="height: 30px" src="@team.crestURI" /></td>
            <td>@Html.ActionLink(@team.teamName, "TeamView", "Home", new { url = team._links.team.href, id = Model.competitionId }, null)</td>
            <td>@team.points</td>
            <td>@team.playedGames</td>
            <td>@team.goalDifference</td>
            <td>@team.wins</td>
            <td>@team.losses</td>
            <td>@team.draws</td>
            <td>@team.goals</td>
            <td>@team.goalsAgainst</td>
        </tr>
        position++;
    }

</table>

@section scripts{

<script>
    $(document).ready(function () {
        @{position = 1;}
        @foreach (var team in Model.standing)
        {
            string imageId = "team" + position.ToString();

            <text>$.get($('#@imageId').prop('src'))
            .done(function () {
                // Keep src image if successful
            }).fail(function () {
                // Image doesn't exist - do something else.
                $('#@imageId').prop('src', 'http://res.publicdomainfiles.com/pdf_view/1/13488048039980.png');
            });</text>
            position++;

        }
    });
</script>


}
